* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
.container{
  width: 1200px;
  margin: 0 auto;

}
body {

}
a#logo {
  float: left;
}
#foto {
  margin-top: 25px;
}
header {
      height: 500px;
      position: relative;
      margin-top: 0;
      background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png");
      background-size: 40%;
      background-repeat: no-repeat;
      background-position:bottom right;
      background-color: #0D325A;
      }
.left {
  color: #fff;
  height: 100px;
  float: left;
  margin-top: 0px;
  padding: 5px;
  text-transform: uppercase;
}
.left span {
  line-height: 100px;
}
#toplogo {
    line-height: 80px;
    float: left;
    margin-top: 18px;
    margin-left: 3%;
  }
.left:hover{
  cursor: pointer;
}
.right {
  padding: 5px;
  text-align: right;
  height: 100px;
  float: right;
  margin-top: 0;
  text-transform: uppercase;
}
#tutor {
  line-height: 100px;
  color: rgba(255,255,255,.5)
}
#structure_button {
    padding: 5px 10px;
    text-transform: uppercase;
    margin-left: 5px;
  }
  #login {
      background-color: transparent;
      border: 1px solid #4e8cb6;
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      text-transform: uppercase;
      margin-left: 5px;
    }
.bottone {
      background-color: #7fb802;
      border: 1px solid #7fb802;
      color: white;
      border-radius: 5px;
      font-family: 'Noto Sans KR', sans-serif;
      text-transform: uppercase;
      padding: 5px 10px;
    }
.header_top::after {
      content: "";
      clear: both;
      display: table;
    }
    #jumbo {
    width: 50%;
    color: white;
    position: relative;
    height: 164px;
}
#jumbo h1 {
  margin-top: 150px;
  margin-bottom: 20px;
  position: relative;
}
